<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="71beb3">  <td>20/07/29 00:30:16</td>   <td>0</td> <td title="&gt;&gt;Suite.BloodstreamLogin(org.testng.ITestContext)[pri:0, instance:employee.employeedetails@71e9ddb4]">&gt;&gt;BloodstreamLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@101775274</td>   <td></td> </tr>
<tr bgcolor="729d65">  <td>20/07/29 00:30:17</td>   <td>440</td> <td>&nbsp;</td><td title="&gt;&gt;employeedetails.PreTestProcess()[pri:0, instance:employee.employeedetails@71e9ddb4]">&gt;&gt;PreTestProcess</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@101775274</td>   <td></td> </tr>
<tr bgcolor="729d65">  <td>20/07/29 00:30:17</td>   <td>816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="employeedetails.Assert200(java.util.Hashtable)[pri:0, instance:employee.employeedetails@71e9ddb4]">Assert200</td> 
  <td>main@101775274</td>   <td></td> </tr>
<tr bgcolor="729d65">  <td>20/07/29 00:30:20</td>   <td>3339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="employeedetails.failedAssertion(java.util.Hashtable)[pri:0, instance:employee.employeedetails@71e9ddb4]">failedAssertion</td> 
  <td>main@101775274</td>   <td></td> </tr>
<tr bgcolor="729d65">  <td>20/07/29 00:30:21</td>   <td>4195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="employeedetails.jsonheader(java.util.Hashtable)[pri:0, instance:employee.employeedetails@71e9ddb4]">jsonheader</td> 
  <td>main@101775274</td>   <td></td> </tr>
<tr bgcolor="729d65">  <td>20/07/29 00:30:22</td>   <td>5143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="employeedetails.successfullAssertion(java.util.Hashtable)[pri:0, instance:employee.employeedetails@71e9ddb4]">successfullAssertion</td> 
  <td>main@101775274</td>   <td></td> </tr>
<tr bgcolor="729d65">  <td>20/07/29 00:30:22</td>   <td>5946</td> <td>&nbsp;</td><td title="&lt;&lt;employeedetails.PostTestProcess()[pri:0, instance:employee.employeedetails@71e9ddb4]">&lt;&lt;PostTestProcess</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@101775274</td>   <td></td> </tr>
</table>
